export(elq_anova)
export(elq_bandwidth)
export(elq_bartlett)
export(elq_confint)
export(elq_control)
export(elq_density)
export(elq_dual)
export(elq_k_sample)
export(elq_kernel)
export(elq_methods)
export(elq_one_sample)
export(elq_posthoc)
export(elq_power)
export(elq_power_exact)
export(elq_power_sim)
export(elq_profile)
export(elq_sample_size)
export(elq_sample_size_exact)
export(elq_sample_size_sim)
export(elq_sign_test)
export(elq_statistic)
export(elq_test)
export(elq_two_sample)
S3method(print,elq_test)
S3method(print,elq_power)
S3method(print,elq_sample_size)
S3method(plot,elq_profile)
importFrom(utils,head,tail)
